.patient-message{
    width: 60%;
    margin-right: 40%;
}
.admin-response {
    text-align: right;
    width: 60%;
    margin-left: 40%;
    color: #A9A9A9;
}
.patient {
    background-color: #c7edfc;
    border-radius: 12px;
    margin-right: 50px;
}
.supporter {
    background-color: #e5f7fd;
    border-radius: 12px;
    margin-left: 50px;
}
.chat {
    margin: 0 0 10px;
    padding: 10px 15px 25px 15px;
}
div#chat {
    margin-top: 10px;
}