/*====================================================*/
/*------------------- CUSTOM CSS ----------------------*/
/*====================================================*/
img.logo {
  width: 159px;
}
.btn-round{
  border-radius: 50%;
}
.new-region{
  margin-top: 5px;
}
.mail-view.message-reply p {
  color: #737171;
  padding-left: 20px;
}
.filterable {
  margin-top: 15px;
}
.filterable .panel-heading .pull-right {
  margin-top: -20px;
}
.filterable .filters input[disabled] {
  background-color: transparent;
  border: none;
  cursor: auto;
  box-shadow: none;
  padding: 0;
  height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
  color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
  color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
  color: #333;
}
.pagination-green  li a {
  border-color: #e5e5e5 !important;;
}
.pagination-green  li span {
  border-right: #e5e5e5 !important;;
}
.pagination-green  li.active a {
  border-color: #66b354 !important;
}
.pagination-green  li.active span {
  border-color: #66b354 !important;;
}
.pagination-green li.active a {
  border-color: #66b354 !important;
}
.pagination-green li.active a {
  color: #FFFFFF;
  background: #66b354;
  z-index: 2;
  cursor: default;
}
.pagination-green li.active a:hover,
.pagination-green li.active a:focus {
  color: #FFFFFF;
  background: #66b354;
  z-index: 2;
  cursor: default;
}
.pagination-green li.active span {
  color: #FFFFFF;
  background: #66b354;
  z-index: 2;
  cursor: default;
}
.pagination-green li.active span:hover,
.pagination-green li.active span:focus {
  color: #FFFFFF;
  background: #66b354;
  z-index: 2;
  cursor: default;
}
.pagination-green li a {
  color: #66b354;
}
.pagination-red li a {
  border-color: #e5e5e5;
}
.pagination-red li span {
  border-right: #e5e5e5;
}
.pagination-red li.active a {
  border-color: #bf4346;
}
.pagination-red li.active span {
  border-color: #bf4346;
}
.pagination-red li.active a {
  color: #FFFFFF;
  background: #bf4346;
  z-index: 2;
  cursor: default;
}
.pagination-red li.active a:hover,
.pagination-red li.active a:focus {
  color: #FFFFFF;
  background: #bf4346;
  z-index: 2;
  cursor: default;
}
.pagination-red li.active span {
  color: #FFFFFF;
  background: #bf4346;
  z-index: 2;
  cursor: default;
}
.pagination-red li.active span:hover,
.pagination-red li.active span:focus {
  color: #FFFFFF;
  background: #bf4346;
  z-index: 2;
  cursor: default;
}
.pagination-red li a {
  color: #bf4346;
}
ul.nav.navbar-nav.main-menu {
  padding: 43px 0px 0px 0px;
}
ul.list-unstyled.white {
  color: #E4E3E3;
}
.yellow {
  color: #FFCE54;
}

/* ####################################
  Slider styles
########################################*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}